<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Sigma.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />

    <link href="_content/AntDesign/css/ant-design-blazor.css" rel="stylesheet" />
    <link href="_content/AntDesign.ProLayout/css/ant-design-pro-layout-blazor.css" rel="stylesheet" />
    <link href="./css/site.css" rel="stylesheet" />

    <link href="./css/normalize.css" rel="stylesheet" />
    <link href="./css/prism-coy.min.css" rel="stylesheet" />
    <link href="./css/prism-toolbar.min.css" rel="stylesheet" />
    <link href="./css/prism-line-numbers.min.css" rel="stylesheet" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:wght@100&display=swap" rel="stylesheet">
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <link href="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.css" rel="stylesheet" />
    <link href="_content/Radzen.Blazor/css/material-base.css" rel="stylesheet">
    <link href="_content/Elsa.Studio.Shell/css/shell.css" rel="stylesheet">

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_content/AntDesign/js/ant-design-blazor.js"></script>
    @* <script src="_content/AntDesign.Charts/ant-design-charts-blazor.js"></script> *@

    <script src="./js/scrollHelper.js"></script>

    <!--prism核心js (用于渲染代码块)-->
    <script src="./js/prism.min.js"></script>
    <!--显示代码块行号-->
    <script src="./js/prism-line-numbers.min.js"></script>
    <!--工具栏(一些插件的前置依赖)-->
    <script src="./js/prism-toolbar.min.js"></script>
    <!--代码块显示语言名称-->
    <script src="./js/prism-show-language.min.js"></script>
    <!--复制代码-->
    <script src="./js/prism-copy-to-clipboard.min.js"></script>
    <!--自动去cdn加载对应语言的代码高亮js-->
    <script src="./js/prism-autoloader.min.js"></script>

    <script src="_content/BlazorMonaco/jsInterop.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/loader.js"></script>
    <script src="_content/BlazorMonaco/lib/monaco-editor/min/vs/editor/editor.main.js"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="_content/CodeBeam.MudBlazor.Extensions/MudExtensions.min.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>

    <script src="_framework/blazor.web.js"></script>

</body>

</html>
